{% extends 'layout.html' %}

{% block title %}Pedidos{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<h1>Pedido nESSA PORRA</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Usuário</td>
			<td>Quantidade de Bebidas</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock %}